.modal_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    animation-name: appear;
    animation-duration: 300ms;
}

.container {
    background-color: #fff;
    border: 3px solid #203064;
    position: relative;
    padding: 22px 30px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.5s;
}

.close {
    @apply absolute top-[10px] right-[10px] cursor-pointer;
}
