.container {
    @apply flex flex-col gap-y-[10px] items-start w-full py-[24.5px] px-[30px] bg-white rounded-[20px];
}

.modal_container {
    @apply flex flex-col gap-y-[20px];
}

.modal_item {
    @apply flex gap-x-[10px] items-center;
}
.modal_item_info {
    @apply flex flex-col gap-y-[5px] p-[10px] items-end justify-between;
}
