.container {
    @apply bg-white flex flex-col gap-y-[30px] rounded-[20px] p-[35px] w-[65%];
}

.filter_container {
    @apply flex gap-x-[30px] items-center justify-around;
}

.table_container {
    @apply flex flex-col gap-y-[20px];

    margin: 20px 0;
}

.table_header {
    @apply grid items-center pl-[16px];

    grid-template-columns: 3fr 1fr 1fr 1fr 3fr 64px;
}
