.container {
    @apply relative bg-white px-[30px] py-[20px] w-full flex justify-between items-center rounded-[20px];
}

.main_container {
    @apply flex gap-x-[45px] items-center;
}

.avatar {
    @apply w-[124px] h-[124px] rounded-full bg-blue-light;
}

.list {
    @apply flex flex-col gap-y-[10px];
}

.list_item {
    @apply flex flex-col gap-y-[5px];
}

.item_title {
    @apply font-inter-regular text-[14px] text-gray-text;
}

.item_value {
    @apply font-inter-medium text-[16px] text-black;
}

.button {
    @apply self-end text-[16px];

    padding: 0;
}

.group {
    @apply absolute top-0 right-0 bg-blue-light p-[10px];
    border: 3px solid #fff;
    border-radius: 0 10px 0 10px;
}
