.container {
    @apply flex flex-col justify-end bg-white h-[60px];
}

.title {
    @apply ml-20 pb-[7px] text-black;

    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 11px; /* Отступ от текста */
    text-decoration-color: #3358d4;
}
